@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: Outfit;
  scroll-behavior: smooth;
}

body{
  background-color: var(--body-color);
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: inherit;
}

.app{
  width: 80%;
  margin: auto;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/* Custom styles */
@layer components {
  .animate-slide-down {
    animation: slideDown 0.3s ease-out forwards;
  }
}

@keyframes slideDown {
  0% {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}